langchain_openai
langchain_core
langchain_community
streamlit
python-dotenv
langserve
uvicorn
fastapi
requests
ipykernel
lancedb
faiss-cpu
wikipedia
arxiv
langchain_groq
sentence-transformers
langchain_google_genai